#What is python

Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.

#Python Variables

Variables are containers for storing data values.

In [ ]:
a = 10

In [ ]:
a

10

#Python Operators

Operators are used to perform operations on variables and values.

**+	      Addition --------------	x + y**

**-	      Subtraction	----------- x - y**

***	      Multiplication -------- x * y**

**/	      Division -------------- x / y**

**%	      Modulus --------------- x % y**	

****	      Exponentiation --------	x ** y**

**//	      Floor division -------- x // y**

#Python Arithmetic Operators

**Addition**

In [ ]:
print(10 + 5)

15

**Subtraction**

In [ ]:
print(10 - 5)

5

 **Multiplication**

In [ ]:
print(10 * 5)

50

**Division**

In [ ]:
print(10 / 5)

2.0

**Modulus**

In [ ]:
print( 4 % 3)

1

***Exponentiation***

In [ ]:
print(2 ** 3)

8

**Floor division**

In [ ]:
print( 4 / 3)

1.3333333333333333

In [ ]:
print(10 // 3)

3

#Python Assignment Operators

**=	-------- x = 5	x = 5**

**+= -------- x += 3	x = x + 3**

**-= -------- x -= 3	x = x - 3**

***= -------- x *= 3	x = x * 3**

**/= -------- x /= 3	x = x / 3**

**%= -------- x %= 3	x = x % 3**

In [ ]:
x = 5

In [ ]:
x

5

In [ ]:
x+5

10

In [ ]:
x

5

In [ ]:
x = x+5 #10
x

10

In [ ]:
x = 5 
x += 5
x

10

In [ ]:
x = 5 
x -= 5
x

0

In [ ]:
x = 5
x *= 3
x

15

#Python Comparison Operators

**== ------------- Equal	x == y**	

**!= ------------- Not equal	x != y**

**>  ------------- Greater than	x > y**

**<  -------------  Less than	x < y**

**>= ------------- Greater than or equal to	x >= y**

**<= ------------- Less than or equal to	x <= y**

In [ ]:
a = 2
b = 1

In [ ]:
a == b

True

In [ ]:
a != b

False

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
a=2
b=2

In [ ]:
a >= b

True

In [ ]:
a <= b

True

#Python Logical Operators

**and --------- Returns True if both statements are true	x < 5 and  x < 10**	
**or  --------- Returns True if one of the statements is true	x < 5 or x < 4**	
**not --------- Reverse the result, returns False if the result is true	not(x < 5 and x < 10)**

In [ ]:
x = 3

In [ ]:
x < 5

In [ ]:
x < 5 and x < 1

False

In [ ]:
x < 5 or x < 4

True

In [ ]:
not(x < 5 and x < 10)

False

#Python Identity Operators

**is --------- Returns True if both variables are the same object	x is y**

**is not --------- Returns True if both variables are not the same object	x is not y**

In [ ]:
x = 2
y = 2

In [ ]:
x is y

True

In [ ]:
x is not y

False

#Python Data Types

In [ ]:
1,2,3,4,100,50

**Numeric**




1. Integers
2. Float
3. Complex Numbers

In [ ]:
a = 5
type(a)

int

In [ ]:
print("hello all")

hello all

In [ ]:
print("Type of a: ",type(a))

Type of a:  <class 'int'>

In [ ]:
print("hello")
print("\n")
print("from letsupgrade")

hello


from letsupgrade

In [ ]:
a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

#1) String

In [ ]:
a = "hello all how are you"
b=5
c='5'

In [ ]:
type(a)

str

In [ ]:
type(b)

int

In [ ]:
type(c)

str

In [ ]:
ss = '''
hello all how are you
'''

In [ ]:
String1 = 'Welcome to the Letsupgrades World'
print("String with the use of Single Quotes: ")
print(String1)
	
String1 = "I'm a Letsupgrade student"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
	

String1 = '''I'm a Letsupgrade and I live in a world of "Letsupgrades"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))


String1 = '''Letsupgrades
			For
			Life'''
      
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Letsupgrades World

String with the use of Double Quotes:
I'm a Letsupgrade student
<class 'str'>

String with the use of Triple Quotes:
I'm a Letsupgrade and I live in a world of "Letsupgrades"
<class 'str'>

Creating a multiline String:
Letsupgrades
			For
			Life

#2) List

In [ ]:
list1 = [1,2,3,4,5,6,'satyam']

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 'satyam']

In [ ]:
List = []
print("Initial blank List: ")
print(List)

Initial blank List:
[]

In [ ]:
List = ['Letsupgrade For all']
print("\nList with the use of String: ")
print(List)

List with the use of String:
['Letsupgrade For all']

In [ ]:
List = ["Letsupgrade", "For", "all"]
#            0.      ,   1. ,   2

In [ ]:
List[2]

'all'

In [ ]:
List = ["Letsupgrade", "For", "all"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])

List containing multiple values:
Letsupgrade
all

In [ ]:
List = [['Letsupgrade', 'For'], ['all']]

In [ ]:
List = [['Letsupgrade', 'For'], ['all']]
print("\nMulti-Dimensional List: ")
print(List)

Multi-Dimensional List:
[['Letsupgrade', 'For'], ['all']]

In [ ]:
abhi = [2,3,4,5,6,7,8]

In [ ]:
abhi

[2, 3, 4, 5, 6, 7, 8]

#3) Tuple

In [ ]:
Tup = (1,2,3,4,5)

In [ ]:
Tup

(1, 2, 3, 4, 5)

In [ ]:
l1 = [1,2,3,4,5]

In [ ]:
type(l1)

list

In [ ]:
l2 = tuple(l1)

In [ ]:
type(l2)

tuple

In [ ]:
list(l2)

[1, 2, 3, 4, 5]

In [ ]:
t1 = (1,2,2,3,3,4)

In [ ]:
t1

(1, 2, 2, 3, 3, 4)

In [ ]:
Tuple1 = ()
print("Initial empty Tuple: ")
print (Tuple1)
	
Tuple1 = ('Letsupgrade', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
	
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple1 = tuple('Letsupgrade')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'Letsupgrade')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Initial empty Tuple:
()

Tuple with the use of String:
('Letsupgrade', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('L', 'e', 't', 's', 'u', 'p', 'g', 'r', 'a', 'd', 'e')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'Letsupgrade'))

#Boolean

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(type(True))

<class 'bool'>

#Set

In [ ]:
l1 = [10,20,2,3,4,5,5,1]

In [ ]:
l1 = ['a','a','b','b','c']

In [ ]:
l1

[10, 20, 2, 3, 4, 5, 5, 1]

In [ ]:
set(l1)

{1, 2, 3, 4, 5, 10, 20}

In [ ]:
set1 = set()
print("Initial blank Set: ")
print(set1)
	
set1 = set("Letsupgrade For Students")
print("\nSet with the use of String: ")
print(set1)

set1 = set(["Letsupgrade", "For", "Students"])
print("\nSet with the use of List: ")
print(set1)

set1 = set([1, 2, 'Letsupgrade', 4, 'For', 6, 'Students'])
print("\nSet with the use of Mixed Values")
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'a', 'e', 'd', 'g', ' ', 's', 't', 'S', 'r', 'L', 'F', 'o', 'n', 'u', 'p'}

Set with the use of List:
{'For', 'Letsupgrade', 'Students'}

Set with the use of Mixed Values
{1, 2, 'Letsupgrade', 4, 6, 'For', 'Students'}

#Dictionary

DICT={key:value,key:value}

In [ ]:
Dict = {1: 'Letsupgrade', 2: 'For', 3: 'Student'}

In [ ]:
dict2 = {"class_a":'navin',"class_b":"chirag","class_c":"satyam"}

In [ ]:
dict2['class_a']

'navin'

In [ ]:
dict2['class_b']

'chirag'

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)
	
Dict = {1: 'Letsupgrade', 2: 'For', 3: 'Student'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
	
Dict = {'Name': 'Letsupgrade', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)
	
Dict = dict({1: 'Letsupgrade', 2: 'For', 3:'Student'})
print("\nDictionary with the use of dict(): ")
print(Dict)
	
Dict = dict([(1, 'Letsupgrade'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Letsupgrade', 2: 'For', 3: 'Student'}

Dictionary with the use of Mixed Keys:
{'Name': 'Letsupgrade', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Letsupgrade', 2: 'For', 3: 'Student'}

Dictionary with each item as a pair:
{1: 'Letsupgrade', 2: 'For'}

#Python String Functions

In [ ]:
x = "Letsupgrade"
print(x)

Letsupgrade

**Python String Indexing**

In [ ]:
say = "Hi from LetsUpgrade"

In [ ]:
say[0]

'H'

In [ ]:
say[3]

'f'

In [ ]:
say[5]

'o'

In [ ]:
say[-1]

'e'

In [ ]:
say[-2]

'd'

**Python String Slicing**

my_string[start:stop:step]

In [ ]:
say = "Hi from LetsUpgrade!"

In [ ]:
say[3:6]

'fro'

In [ ]:
say[:10]

'Hi from Le'

In [ ]:
say[4:]

'rom LetsUpgrade!'

In [ ]:
say[1:11:3]

'ir t'

In [ ]:
say[::-1]

'!edargpUsteL morf iH'

#Python String Operations

In [ ]:
x = "This is "
y = "Python"
z = x + y + '.'
print(z)

This is Python.

In [ ]:
x = 3 * "Hi!"
print(x)

Hi!Hi!Hi!

In [ ]:
y = "Go!" * 3
print(y)

Go!Go!Go!

In [ ]:
s = "heLLo BuDdY"
s2 = s.capitalize()
print(s2)

Hello buddy

In [ ]:
s = "heLLo BuDdY"
s2 = s.capitalize()
print(s2)

Hello buddy

In [ ]:
s = "heLLo BuDdY"
s2 = s.upper()
print(s2)

hello buddy

In [ ]:
s = "heLLo BuDdY"
s2 = s.title()
print(s2)

Hello Buddy

In [ ]:
s = "heLLo BuDdY"
s2 = s.swapcase()
print(s2)

HEllO bUdDy

In [ ]:
s = 'Dread Thread Spread'
s.count('e')

3

In [ ]:
s.count('rea')

3

In [ ]:
s.count('e', 4, 18)

2

In [ ]:
#s.find(<sub>[, <start>[, <end>]])

In [ ]:
s = 'Dread Thread Spread'
s.count('e')

3

In [ ]:
s.count('rea')

3

In [ ]:
s.count('e', 4, 18)

2

In [ ]:
s = 'Dread Thread Spread'
s.find('Thr')

6

In [ ]:
s.find('rea')

1

In [ ]:
s.find('x')

-1

In [ ]:
s = "Tech50"
s.isalnum()

True

In [ ]:
s = "Tech"
s.isalnum()

True

In [ ]:
s = "678"
s.isalnum()

True

In [ ]:
s = "Letsupgrade"
s2 = "Tech50"

In [ ]:
s.isalpha()

True

In [ ]:
s2.isalpha()

False

In [ ]:
s1 = "Tech50"
s2 = "56748"
s1.isdigit()

False

In [ ]:
s2.isdigit()

True

In [ ]:
s1 = "Tech"
s2 = "tech"
s1.islower()

False

In [ ]:
s2.islower()

True

In [ ]:
s1 = "Tech"
s2 = "TECH"
s1.isupper()

False

In [ ]:
s2.isupper()

True

In [ ]:
s = "   Techvidvan   "
s.lstrip()

'Techvidvan   '

In [ ]:
s.rstrip()

'   Techvidvan'

In [ ]:
s.strip()

'Techvidvan'

In [ ]:
s1 = ' '.join(['We', 'are', 'Coders'])
print(s1)

s2 = ':'.join(['We', 'are', 'Coders'])
print(s2)

We are Coders
We:are:Coders

In [ ]:
l = 'we are      coders'.split()
print(l)
['we', 'are', 'coders']
l = 'we are      coders'.split('e')
print(l)

['we', 'are', 'coders']
['w', ' ar', '      cod', 'rs']

#Python List Functions

In [ ]:
currencies = ['Dollar', 'Euro', 'Pound']

currencies.append('Yen')

print(currencies)

['Dollar', 'Euro', 'Pound', 'Yen']

In [ ]:
animals = ['cat', 'dog', 'rabbit']

wild_animals = ['tiger', 'fox']

animals.append(wild_animals)

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

In [ ]:
animals = ['cat', 'dog', 'rabbit', 'horse']

index = animals.index('dog')

print(index)

1

In [ ]:
prime_numbers = [2, 3, 5]

numbers = [1, 4]

numbers.extend(prime_numbers)


print('List after extend():', numbers)

List after extend(): [1, 4, 2, 3, 5]

In [ ]:
vowel = ['a', 'e', 'i', 'u']

vowel.insert(3, 'o')


print('List:', vowel)

List: ['a', 'e', 'i', 'o', 'u']

In [ ]:
prime_numbers = [2, 3, 5, 7, 9, 11]

prime_numbers.remove(9)


print('Updated List: ', prime_numbers)

Updated List:  [2, 3, 5, 7, 11]

In [ ]:
numbers = [2, 3, 5, 2, 11, 2, 7]

count = numbers.count(2)


print('Count of 2:', count)

Count of 2: 3

In [ ]:
prime_numbers = [2, 3, 5, 7]

removed_element = prime_numbers.pop(2)

print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

Removed Element: 5
Updated List: [2, 3, 7]

In [ ]:
prime_numbers = [2, 3, 5, 7]

prime_numbers.reverse()


print('Reversed List:', prime_numbers)

Reversed List: [7, 5, 3, 2]

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]

prime_numbers.sort()

print(prime_numbers)

[2, 3, 5, 7, 11]

In [ ]:
prime_numbers = [2, 3, 5]

numbers = prime_numbers.copy()


print('Copied List:', numbers)

Copied List: [2, 3, 5]

In [ ]:
prime_numbers = [2, 3, 5, 7, 9, 11]

prime_numbers.clear()

print('List after clear():', prime_numbers)

List after clear(): []

#Python Set Functions

In [ ]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [ ]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [ ]:
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [ ]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [ ]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [ ]:
my_set.discard(2)
print(my_set)

{1, 3, 5}

In [ ]:
my_set.remove(1)

In [ ]:
my_set

{3, 5}

#Python Dictionary Functions

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}

print(my_dict['name'])

print(my_dict.get('age'))

print(my_dict.get('address'))

Jack
26
None

In [ ]:
print(my_dict['address'])

KeyError: ignored

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}

my_dict['age'] = 27

print(my_dict)

my_dict['address'] = 'Downtown'

print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

print(squares.pop(4))

16

In [ ]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [ ]:
print(squares)

squares.clear()

{1: 1, 2: 4, 3: 9, 5: 25}

In [ ]:
squares

{}

In [ ]:
del squares

In [ ]:
squares

In [ ]:
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

print(marks)

for item in marks.items():
    print(item)

print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [ ]:
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(len(squares))

print(sorted(squares))

6
[0, 1, 3, 5, 7, 9]

#Python Tuples

**Indexing**

In [ ]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(n_tuple[0][3])
print(n_tuple[1][1])

p
t
s
4

In [ ]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

print(my_tuple[-1])

print(my_tuple[-6])

t
p

In [ ]:
my_tuple = (4, 2, 3, [6, 5])

my_tuple[3][0] = 9
print(my_tuple)

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print('a' in my_tuple)
print('b' in my_tuple)

print('g' not in my_tuple)

True
False
True

In [ ]:
for name in ('John', 'Kate'):
    print("Hello", name)

Hello John
Hello Kate

#Python Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
for x in [0, 1, 2]:
  pass

#Python While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

#Python If Else

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

#Python - List Comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if x != "apple"]

In [ ]:
newlist = [x for x in fruits]

In [ ]:
newlist = [x for x in range(10)]

In [ ]:
newlist = [x for x in range(10) if x < 5]

In [ ]:
newlist = [x.upper() for x in fruits]

In [ ]:
newlist = [x.upper() for x in fruits]

#Python Dictionary Comprehension

In [ ]:
keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  
  
myDict = { k:v for (k,v) in zip(keys, values)}  
  
print (myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

even_dict = {k: v for (k, v) in original_dict.items() if v % 2 == 0}
print(even_dict)

In [ ]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict = {k: v for (k, v) in original_dict.items() if v % 2 != 0 if v < 40}
print(new_dict)